<!DOCTYPE html>
{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate "Hexlet task manager" %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">{% translate "Task manager" %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <div class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/users/">{% translate "Users" %}</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="/statuses/">{% translate "Statuses" context "Navbar link" %}</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/labels/">{% translate "Labels" context "Navbar link" %}</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/tasks/">{% translate "Tasks" context "Navbar link" %}</a>
            </li>
            {% endif %}
          </div>
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="/logout/">{% translate "Log out"  context 'Navbar link' %}</a>
            </li>
            {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="/login/">{% translate "Log in" context 'Navbar link' %}</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/users/create/">{% translate "Sign up"  context 'Navbar link' %}</a>
            </li>
            {% endif %}
          </ul>
        </div>
    </nav>
    <div class="container mt-3">
      
      {% bootstrap_messages %}

      <h1 class="my-4">
        {% block header %}
        {% endblock %}
      </h1>
      {% block content %}
      {% endblock %}
    </div>
</body>
</html>