{% extends 'application.html' %}
{% load i18n %}

{% block header %}
{% translate "Delete user" context "Delete user page header" %}
{% endblock %}

{% block content %}

<p>{% blocktranslate with first_name=object.first_name last_name=object.last_name %}Are you sure you want to delete {{ first_name }} {{ last_name }}?{% endblocktranslate %}</p>

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <input class="btn btn-danger" type="submit" value="{% translate 'Yes, delete' context 'Delete user page button' %}">
    </div>
</form>

{% endblock %}
