{% extends 'application.html' %}
{% load i18n %}

{% block header %}
{% translate 'Labels' context 'Labels page header' %}
{% endblock %}

{% block content %}

<a class="nav-link" href="/labels/create/">{% translate 'Create label' context 'Link to create label' %}</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate 'Name' context 'Labels page table head' %}</th>
            <th>{% translate 'Created on' context 'Labels page table head' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for label in object_list %}
        <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created }}</td>
            <td>
                <a href="/labels/{{ label.id }}/update/">{% translate 'Edit' %}</a>
                <br>
                <a href="/labels/{{ label.id }}/delete/">{% translate 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
