{% extends 'application.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block header %}
{% translate 'Tasks' context 'Tasks page header' %}
{% endblock %}

{% block content %}

<a class="nav-link" href="/tasks/create/">{% translate 'Create task' context 'Link to create task' %}</a>

<div class="card mb-3">
    <div class="card-body bg-light">
        <form class="form-inline center" method="get">
            {% bootstrap_form task_filter field_class='ml-2 mr-3' %}
            {% buttons %}
                <input class="btn btn-primary" type="submit" value="{% translate 'Show' context 'Task filter button' %}">
            {% endbuttons %}
        </form>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate 'Name' context 'Tasks page table head' %}</th>
            <th>{% translate 'Status' context 'Tasks page table head' %}</th>
            <th>{% translate 'Author' context 'Tasks page table head' %}</th>
            <th>{% translate 'Executor' context 'Tasks page table head' %}</th>
            <th>{% translate 'Created on' context 'Tasks page table head' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td><a href="/tasks/{{ task.id }}">{{ task.name }}</a></td>
            <td>{{ task.status }}</td>
            <td>{{ task.author }}</td>
            <td>{{ task.executor }}</td>
            <td>{{ task.created }}</td>
            <td>
                <a href="/tasks/{{ task.id }}/update/">{% translate 'Edit' %}</a>
                <br>
                <a href="/tasks/{{ task.id }}/delete/">{% translate 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
