{% extends 'application.html' %}
{% load i18n %}

{% block header %}
{% translate 'Users' %}
{% endblock %}

{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate 'Username' %}</th>
            <th>{% translate 'Full name' %}</th>
            <th>{% translate 'Created at' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.date_joined }}</td>
            <td>
                <a href="#">{% translate 'Edit' %}</a>
                <br>
                <a href="#">{% translate 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
